page-plan {
  .tabbar a[aria-selected=true] {
    border: none;
    box-shadow: 0px 2px 0px 0px color($colors, promux-color, base);
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: color($colors, promux-color, base);
  }

  .tab-button[aria-selected=true] .tab-button-text{
    color: color($colors, promux-color, base);
  }
}
