<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="promux-color"></ion-icon>
    </button>
    <img src="assets/imgs/logo_promux.png" class="logo-promux" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h5>Meu Perfil</h5>

    <div *ngIf="userType == 0 && userForm; else companyProfile">
      <form
      [formGroup]="userForm"
      (ngSubmit)="saveData(userForm)">
      <ion-item>
        <ion-label
        floating
        color="promux-color">Nome</ion-label>
        <ion-input
        type="text"
        name="fullName"
        formControlName="fullName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label
        floating
        color="promux-color">Data de Nascimento</ion-label>
        <ion-datetime
        displayFormat="MM/DD/YYYY"
        formControlName="dateOfBirth"
        [max]="maxDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label
        floating
        color="promux-color">Gênero</ion-label>
        <ion-select
          formControlName="gender">
          <ion-option
          *ngFor="let g of genders"
          value="{{g.value}}">
          {{g.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label
            color="promux-color" floating>Altura</ion-label>
            <ion-input
            type="number"
            name="height"
            formControlName="height">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label
            floating
            color="promux-color">Peso</ion-label>
            <ion-input
            type="number"
            name="weight"
            formControlName="weight"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label
        floating
        color="promux-color">Cor da Pele</ion-label>
        <ion-select
          formControlName="skinColor">
          <ion-option
          *ngFor="let s of skinColors"
          value="{{s.value}}">
          {{s.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label
        floating
        color="promux-color">Cor dos Olhos</ion-label>
        <ion-select
          formControlName="eyeColor">
          <ion-option
          *ngFor="let e of eyeColors"
          value="{{e.value}}">
          {{e.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label
        floating
        color="promux-color">Cor do Cabelo</ion-label>
        <ion-select
          formControlName="hairColor">
          <ion-option
          *ngFor="let h of hairColors"
          value="{{h.value}}">
          {{h.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <hr>

      <h6>Preferência de Jobs</h6>

      <ion-item *ngFor="let p of jobPreferences" no-lines>
        <ion-label>{{p.name}}</ion-label>
        <ion-checkbox
        checked="false"
        color="promux-color"
        [(ngModel)]="p.checked"
        [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
      <button
        ion-button
        class="submit-btn button-round-md"
        block
        color="promux-color"
        type="submit"
      >
        Confirmar Alterações
      </button>
    </form>

    </div>

    <ng-template
    #companyProfile>
        <form
        *ngIf="companyForm"
        [formGroup]="companyForm"
        (ngSubmit)="saveData(companyForm)"
      >
        <ion-item>
          <ion-label floating color="promux-color">Nome da Empresa</ion-label>
          <ion-input
            type="name"
            name="name"
            formControlName="fullName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="promux-color" floating>CNPJ</ion-label>
          <ion-input
            type="number"
            name="cnpj"
            formControlName="cnpj"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating color="promux-color">Responsável</ion-label>
          <ion-input
            type="text"
            name="responsible"
            formControlName="responsible"
          ></ion-input>
        </ion-item>
        <button
          ion-button
          class="submit-btn button-round-md"
          block
          color="promux-color"
          type="submit"
        >
          Continuar
        </button>
      </form>
    </ng-template>

  </div>
</ion-content>
