page-login {
  .promux-logo{
    display: block;
    margin: 20px auto;
    width: 50%;
  }

  .login-box{
    background: rgba($color: color($colors, promux-color, base), $alpha: 0.12);
    padding: 10px;
    border-radius: 10px;
  }

  .item.item-md,
  .item-ios{
    background: transparent !important;
    padding-right: 20px;
  }

  .item-input .label-md{
    color: color($colors, promux-color, base) !important;
  }

  .item.item-md .checkbox-md {
    margin: 9px 18px 9px 0px;
  }

  .item-inner {
    border-bottom-color: color($colors, promux-color, base) !important;
    box-shadow: none !important;
  }

  .bottom-btn{
    position: fixed;
    bottom: 1px;
    width: 100%;
    left: 0px;
  }

  .col{
    padding: 0px;
  }

  .sign-in-social{
    padding: 10px 5px;
  }

  .facebook-btn{
    background-color: #3b5998;
  }
}
